.outer-touch-controller {
    position: absolute;
    border-radius: 50%;
    right: 0%;
    bottom: 0%;
    margin: 5%;
    width: 20%;
    aspect-ratio: 1;
    background-color: #6161616c;

    .touch-controller {
        position: absolute;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 40%;
        aspect-ratio: 1;
        background-color: #ffffff;

        &.default {
            left: 50%;
            top: 50%;
        }
    }
}