.outer-touch-controller {
    position: absolute;
    right: 0%;
    bottom: 0%;
    margin: 5%;
    width: 20%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #afafaf;

    .touch-controller {
        width: 40%;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: #ffffff;

        &.default {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}